@import "../../scss/variables";

.link {
  display: flex;
  width: 100%;
  max-width: 276px;
  height: 56px;
  gap: 1.6rem;
  font-size: $text-preset-3;
  line-height: 150%;
  color: $grey-300;
  font-weight: 700;

  &:hover {
    background-color: #f8f4f0;
    border-radius: 8px;
    color: $grey-900;
  }
}

.header_image {
  color: $grey-300;
  width: 24px;
  height: 24px;
  object-fit: contain;

  &:hover {
    color: $green;
  }
}

img {
  margin-bottom: 6.4rem;
}

.button {
  display: flex;
  gap: 2rem;
  width: auto;
  height: auto;
  background: none;
  border: none;
  font-size: $text-preset-3;
  line-height: 150%;
  color: $grey-300;
  font-weight: 700;
  cursor: pointer;
  margin-top: 25rem;
}

.button_image {
  color: $grey-300;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.link_text {
  opacity: 1;
  transition: opacity 0.3s ease;

  &.collapsed .link_text {
    opacity: 0;
  }
}

.sidebar {
  .link_text {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }
}
