*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans";
  height: 100%;
  background-color: #f8f4f0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

img {
  object-fit: cover;
  display: flex;
}

#root {
  height: 100%;
}

.main-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.main_layout {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.main_layout.sidebar {
  grid-template-columns: 1fr;
}

.header {
  background-color: #201f24;
  height: 100vh;
  padding-top: 4rem;
  padding-left: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 300px;
}

.header.sidebar {
  width: 150px;

  position: absolute;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.main.sidebar {
  padding-left: 150px;
}
